services:
  c-fuzz:
    build:
      context: ./implementations/c
      dockerfile: fuzz/Dockerfile
    environment:
      - FUZZ_DURATION=${FUZZ_DURATION:-60}

  c:
    build:
      context: .
      dockerfile: implementations/c/Dockerfile
    volumes:
      - ./implementations/c/build:/app/implementations/c/build
      - ./implementations/c/assets:/app/implementations/c/assets
      - ./test-vectors:/app/test-vectors:ro

  cpp:
    build:
      context: .
      dockerfile: implementations/cpp/Dockerfile
    deploy:
      resources:
        limits:
          memory: 4G
    volumes:
      - type: bind
        source: ./implementations/cpp/build
        target: /app/implementations/cpp/build
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro

  go:
    build:
      context: .
      dockerfile: implementations/go/Dockerfile
    volumes:
      - type: bind
        source: ./implementations/go/build
        target: /app/implementations/go/build
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro

  python:
    build:
      context: .
      dockerfile: implementations/python/Dockerfile
    volumes:
      - ./test-vectors:/app/test-vectors:ro

  rust:
    build:
      context: .
      dockerfile: implementations/rust/Dockerfile
    volumes:
      - type: bind
        source: ./implementations/rust/build
        target: /app/implementations/rust/build
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro

  benchmark:
    build:
      context: .
      dockerfile: Dockerfile.benchmark
    volumes:
      - type: bind
        source: ./docs
        target: /app/docs
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro

  java:
    build:
      context: .
      dockerfile: implementations/java/Dockerfile
    volumes:
      - type: bind
        source: ./implementations/java/build
        target: /app/implementations/java/build
        bind:
          create_host_path: true
      - type: bind
        source: ./implementations/java/assets
        target: /app/implementations/java/assets
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro
