services:
  c:
    build:
      context: .
      dockerfile: implementations/c/Dockerfile
    volumes:
      - ./implementations/c/build:/app/implementations/c/build
      - ./implementations/c/assets:/app/implementations/c/assets
      - ./test-vectors:/app/test-vectors:ro

  go:
    build:
      context: .
      dockerfile: implementations/go/Dockerfile
    volumes:
      - type: bind
        source: ./implementations/go/build
        target: /app/implementations/go/build
        bind:
          create_host_path: true
      - ./test-vectors:/app/test-vectors:ro

  python:
    build:
      context: .
      dockerfile: implementations/python/Dockerfile
    volumes:
      - ./test-vectors:/app/test-vectors:ro
